@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

#app {
    background:#fff;
    border-radius: 4px;
    padding: 20px;
    transition: all 0.2s;
    text-align: center;
}